[project]
	description = Small, useful, samples that show how to do things, the Polymer way
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/kroikie
[access "refs/for/refs/*"]
	read = group user/kroikie
	push = group user/kroikie
	label-Code-Review = -2..+2 group user/kroikie
	label-Verified = -1..+1 group user/kroikie
	rebase = group user/kroikie
	removeReviewer = group user/kroikie
	submit = group user/kroikie
[access "refs/heads/*"]
	read = group user/kroikie
	create = group user/kroikie
	push = +force group user/kroikie
	pushMerge = group user/kroikie
[access "refs/tags/*"]
	push = +force group user/kroikie
	pushTag = group user/kroikie
	pushSignedTag = group user/kroikie
